# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.lol
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.synctex
*.toc
*.vrb
*.xml
*.gz
.vscode/ltex.hiddenFalsePositives.en-US.txt
00 main.bbl-SAVE-ERROR